@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Signika:wght@300;400;500;600;700&display=swap");

html {
  font-size: 12px;
}
body {
  width: 100%;
  margin: 0.5rem auto;
  background-color: #f3efef;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Signika", sans-serif;
}
h3 {
  padding: 1rem 2% 1rem 2%;
  font-size: 1.6rem;
  background-color: #191964;
  color: white;
}
h4 {
  font-size: 1.4rem;
  margin: 1rem 0 0 2%;
}
section p {
  padding: 0 2% 1rem 2%;
}
main {
  margin: 2rem 0 7rem 0;
  padding: 2rem 2%;
  display: grid;
  gap: 2%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 3rem;
}
main a {
  font-size: 1rem;
  color: #191964;
  margin-left: 2%;
}
main p {
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  line-height: 1.6rem;
}
header,
footer {
  background: #191964;
  color: #ffffff;
  padding: 2rem 1rem;
}
header {
  font-size: 2rem;
  text-align: center;
}
section {
  border: black 2px solid;
  padding-top: 0;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

footer {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
  padding: 1rem 1rem;
  margin-top: 3rem;
}
main img {
  margin: 1rem 2% 0 2%;
  width: 96%;
}

footer a {
  color: #ffffff;
}
main span {
  color: #191964;
  font-weight: bold;
}
footer span {
  color: hsl(56, 100%, 50%);
  font-weight: bold;
}
