@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Signika:wght@300;400;500;600;700&display=swap");
html {
  font-size: 12px;
}
body {
  width: 100%;
  margin: 0.5rem auto;
  background-color: #f3efef;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Signika", sans-serif;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
.grid a {
  font-size: 1rem;
}
.grid p {
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
}
header,
footer {
  background: #191964;
  color: #ffffff;
  padding: 2rem 1rem;
}
header {
  font-size: 2rem;
  text-align: center;
}
section {
  border: black 2px solid;
  padding-top: 0;
  border-radius: 8px;
}
.color--title {
  background-color: green;
  overflow: hidden;
}
grid {
  display: grid;
}

footer {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
  padding: 1rem 1rem;
}
main {
  font-size: 1.5rem;
  padding: 3.5rem;
}
main a {
  color: #191964;
}

footer a {
  color: #ffffff;
}
footer span {
  color: hsl(56, 100%, 50%);
  font-weight: bold;
}
