@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Signika:wght@300;400;500;600;700&display=swap");

body {
  font-size: 10px;
  width: 100%;
  margin: 0.5rem auto;
  background-color: #f3efef;
}
h1,
h2 {
  margin: 0;
  font-family: "Signika", sans-serif;
}
p {
  font-family: "Roboto Slab", serif;
}
header,
footer {
  background: #191964;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 2rem 0;
}
header {
  font-size: 2rem;
  text-align: center;
}

img {
  display: inline-block;
  box-shadow: 4px 4px 20px 1px #000000;
  width: 150px;
  height: 250;
}
main {
  font-size: 1.5rem;
  padding: 3.5rem;
}
main a {
  color: #191964;
}
footer {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  text-align: center;
}

footer a {
  color: #ffffff;
}
footer span {
  color: hsl(56, 100%, 50%);
  font-weight: bold;
  line-height: 0.5rem;
}

@media screen and (min-width: 675px) {
  header {
    text-align: left;
    padding: 2rem 1rem;
  }
  img {
    float: right;
    position: absolute;
    right: 1.3rem;
    top: 2rem;
    box-shadow: 4px 4px 20px 1px #000000;
  }
  main {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 900px) {
  header {
    text-align: center;
  }
  body {
    font-size: 10px;
    width: 95%;
  }

  img {
    float: right;
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    box-shadow: 4px 4px 20px 1px #000000;
  }
}
