.Hero{
    max-width: 879px;
}
.Hero-img{
width: 100%;
}
.Companies{
    display: grid;
    grid-template-columns: minmax(250px,440px) minmax(250px,440px);
}
.Temperature img{
    float: none;
    
    
}
.Temperature{

    display: inline-block;
    width: 45%;
    margin-bottom: 1rem;
    
}
.Forecast{
    clear: both;
    position: relative;
    top: -20rem;
    float: right;
    display: inline-block;
    width: 45%;

}
.Forecast div{
    margin-bottom: 0.85rem;

}

.Footer-home{

    display: block;
    width: 100%;
    position: absolute;

}
html{
    height: 1500px;
}



/**            Directory.html            **/

.Business-button{
    display: flex;
    justify-content: flex-end;
}

.Business-container .card{
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2,minmax(250px,440px));

}
.Business-company{
    
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border-radius: 1rem;

}
