.Hero{
    max-width: 879px;
}
.Hero-img{
width: 100%;
}
.CTA{
    width: 200px;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 0, 0.719);
    border: 2px solid var(--black);
}
.CTA:hover{
    
    background-color:  #0a111fd3;
    color: var(--white)
    ;
}
.CTA a:hover{
    color: var(--white);
}
.CTA a{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--black);
}
.CTA p{
    color: var(--white);
    margin: 0;
    padding: 0;

}
.Purpose{
    margin-top: -1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 15px 2px  var(--black);
    
}
.Companies{
    display: grid;
    grid-template-columns: minmax(250px,440px) minmax(250px,440px);
}
.Temperature img{
    float: none;
    
    
}
.Temperature{

    display: inline-block;
    width: 45%;
    margin-bottom: 1rem;
    
}
.Forecast{
    clear: both;
    position: relative;
    top: -20rem;
    float: right;
    display: inline-block;
    width: 45%;

}
.Forecast div{
    margin-bottom: 0.85rem;

}

.Footer-home{

    display: block;
    width: 100%;
    position: absolute;

}
html{
    height: 1500px;
}



/**            Directory.html            **/

.Business-button{
    display: flex;
    justify-content: flex-end;
}

.Business-container .card{
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2,minmax(250px,440px));

}
.Card-grid{
    background-color: var(--light_black);
    color: var(--white);
    box-shadow:3px 3px 15px 2px  var(--black);


}



.Card-list h2 {text-align: center;}
.Business-container .Card-list> div{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    justify-items: center;
    flex-wrap: wrap;

}
.Business-container .Card-list> div div,.Business-container .Card-list> div> p{
    display: block;
    padding: 3rem 0;
}
.Business-company{
    
    margin:  0;
    padding: 1rem;
    border-radius: 1rem;
    
}

/**            Join.html            **/


.Join-form  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.Join-form fieldset{
    margin: 2rem 1rem;
    width: 260px;
}
.Join-button{ width: 80%;}

  /**            Contact.html            **/
    
  .Contact-container {
    padding: 0 1rem;
    display: block;
}
  .Main-container h2 {
    text-align: center;
}
iframe{ width: 100%;
margin: auto;}
.Contact-map{
    width: 65%;
    display: block;
    margin: auto;
}
.Contact-form{
    width: 330px;
    padding: 2rem;
    color: var(--black);
    border-radius: 1rem;
    margin: 1rem  auto;
}
.Contact-information{
    text-align: center;
    padding: 2rem;
}