:root{
    --black : #0A111F;
    --light_black :#14213D;
    --blue : #040677;
    --light-blue : #4e51f9;
    --white : #edfafd;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--black);
    color: var(--white);
    
}
.Header-container{
    padding: 2vh 3vw;
    display: flex;
}
.logo{
    border: 2px solid var(--white);
    overflow: hidden;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.Header-title h1, .Header-title p{
    margin: 0 3vw;
}
.Header-title h1 {
    margin-top: 1rem;
    font-size: 2.5rem;

}
.Navigation{
    background-color: var(--light_black);
    display: flex;
    flex-direction: column;
    
}
.Navigation button{
    background-color: transparent;
    border: none;
    color: var(--white);
    padding: 0.4rem;
    
}
.Navigation-ul{
    list-style: none;
    
}
#active{
    color: yellow;
}
.hide{
    display: none;
}
.Navigation-ul li {
    border-top: 1px solid var(--black);
    text-align: center;
    padding: 0.3rem;
}
.Navigation-ul li a {
    text-decoration: none;
    color: var(--white);
}

main{
    color: var(--black);
    background-color: var(--white);
    
}
.Alert{
    background-color: var(--blue);
}
.Hero{

}

.CTA{
    background-color: var(--light-blue);
}
.Purpose{
    background-color: white;
}
.Company-names{
    background-color: var(--light_black);
    color: var(--white);
    
}
.Company{
    background-color: var(--light_black);
    color: var(--white);
}
footer{
    background-color: var(--light_black);
    color: var(--white);
    font-size: 1rem;
    
}
footer p{
    text-align: center;
}
.Footer-container{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
.Footer-social-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 1rem;
    
}