@media only screen and (min-width: 790px) {
  body {
    font-size: 10px;
    width: 100%;
    margin: auto;
  }
  body header .header-center {
    width: 80%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: black;
    margin: 0 10%;
  }
  nav .li-start {
    display: flex;
    justify-content: flex-start;
    width: 10%;
  }
  nav .li-end {
    display: flex;
    justify-content: flex-end;
    width: 15%;
  }
  nav li {
    width: 25%;
    margin: 0;
  }
}
