@media only screen and (min-width: 790px) {
  body {
    width: 100%;
    margin: auto;
  }
  .logo {
    width: 100px;
    height: 100px;
    float: left;
    margin: 2.5% 5% 2.5% 0;
  }
  body header .header-center {
    width: 80%;
  }
  header h1 {
    font-size: 3.5rem;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: black;
    margin: 0 10%;
  }
  nav ul .li-start {
    display: flex;
    justify-content: flex-start;
    width: 10%;
  }
  nav ul .li-end {
    display: flex;
    justify-content: flex-end;
    width: 15%;
  }
  nav ul li {
    width: 25%;
    margin: 0;
  }
  main div {
    width: 80%;
    margin: auto;
  }
}
