@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Piazzolla:wght@500;700&display=swap");
body {
  font-size: 8px;
  background-color: rgba(236, 222, 234, 0.918);
}
.logo {
  width: 80px;
}
header,
footer {
  background-color: rgb(2, 12, 20);
  color: white;
  margin: 0;
  padding: 0;
}

header img {
  margin: 0;
  float: left;
  padding: 0;
  width: 100%;
}
header h1 {
  margin-left: 2.5em;
  font-size: 2rem;
  font-family: "Piazzolla", serif;
}
nav {
  padding: 0.1rem;
  background-color: rgb(31, 5, 61);
}
nav ul li a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
nav ul {
  padding: 0;
  padding-top: 1rem;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  list-style: none;
  margin: 0;
}
nav li {
  padding: 0;
  width: 100%;
  height: 3rem;
}
nav li a {
  text-decoration: none;
  color: white;
  font-family: "Piazzolla", serif;
}

header .header-center,
.footer-center {
  width: 95%;
  margin: auto;
  padding: 0.5rem 0;
}
main div {
  width: 95%;
  margin: auto;
}
.color-img {
  width: 80%;
  margin: 0 10%;

  box-shadow: 2px 2px 12px 3px black;
}
.color-img_link {
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-family: "Piazzolla", serif;
}
h3 {
  font-size: 1.6rem;
  font-family: "Piazzolla", serif;
}
main p {
  font-size: 1.2rem;
  font-family: "Arimo", sans-serif;
}
main img {
  width: 250px;
}
footer {
  font-size: 1.3rem;
  text-align: center;
  font-family: "Piazzolla", serif;
}
table {
  margin: 0;
  margin-top: -1rem;

  margin-bottom: 2rem;
}

tr {
  border-top: solid 1px black;
}
td {
  padding-right: 1%;

  padding-bottom: 2%;
}
thead td {
  font-size: 2rem;
  font-weight: bold;
}
tr:nth-child(1) {
  font-size: 1.2rem;
  font-family: "piazzolla";
}
tbody tr:nth-child(1) td:nth-child(4) {
  font-size: 3.5rem;
}

tr:nth-child(2) {
  font-size: 1.2rem;
  font-family: "piazzolla";
}
tr:nth-child(2) td:nth-child(4) {
  font-size: 2rem;
}
tr:nth-child(3) {
  font-size: 1.2rem;
  font-family: "piazzolla";
}
tr:nth-child(3) td:nth-child(4) {
  font-size: 1.6rem;
}
tr:nth-child(4) {
  font-size: 1.2rem;
  font-family: "Arimo";
}
